/* 
  line-height: 2 表示单行文本的行高为它本身的两倍
  line-height: 200% 表示单行文本的行高为系统默认的字体的200%

  在继承上:
    对父元素设置了line-height:2; 子元素会继承line-height:2属性, 子元素的行高是自身的2倍, 是相对大小, 子元素的字体大小不同, 行高也会不同

    对父元素设置line-height:200%, 子元素会继承系统默认的字体的200%, 是一个固定大小, 子元素的字体大小不同, 行高都是固定的某个值
*/