/* 
  px:
    图像的基本采样单位, 相对长度单位, px是相对于显示器屏幕分辨率而言的

  em:
    相对长度单位, 相对于父元素来设置字体大小,如果当前行内文本的字体尺寸未设置, 则相当于浏览器默认字体(16px)尺寸
  rem:
    css3新增相对单位, 根据HTML根元素font-size来计算长度单位

  vh vm
    vw相对视口viewport的宽度而定, 宽度等于视口宽度的1/100

    vh相对视口viewport的高度而定, 长度等于视口长度的1/100
*/