/* 
  当两个垂直元素的外边框相遇就会发生出现外边距合并

  1.父元素与子元素外边距合并
  2.兄弟元素外边距合并
  3.元素自身外边框合并, 当前为空元素, 但有外边框, 但是没有边框和内容填充, 所以它跟上下俩兄弟元素外边距合并了

  合并规则:
    俩相邻的外边距都是正数, 取两者的最大值
    俩相邻的外边距都是负数, 取两者绝对值的最大值
    俩相邻的外边距一正一负, 取两者相加的和

  解决合并:
    使用inline-block, float overflow形成BFC
*/